# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Julia's Docs
email: julia@juliaebert.com
description: >- # this means to ignore newlines until "baseurl:"
  This documents the miscellaneous techy things I do for research,
  running Linux, side projects and taking over the world. It's mostly for me, but if you find
  something useful, that's cool too.
# baseurl: "/document-everything/" # the subpath of your site, e.g. /blog
url: "https://docs.juliaebert.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jtebert
github_username:  jtebert

# Heading anchor links appear on hover over h1-h6 tags in page content
# allowing users to deep link to a particular heading on a page.
#
# Supports true (default) or false/nil
heading_anchors: true

# Footer content appears at the bottom of every page's main content
footer_content: "&copy; 2019 by Julia Ebert"

# Google Analytics Tracking (optional)
# e.g, UA-1234567-89
ga_tracking: UA-54476418-2

# Date formatting (set defaults)
date_format: '%Y %B %d'

# Build settings
markdown: kramdown
remote_theme: pmarsceill/just-the-docs
# theme: "just-the-docs"
plugins:
  - jekyll-feed
  - jekyll-last-modified-at

kramdown:
  toc_levels: "2"
  parse_block_html: true

# Configuration for just-the-docs

# Enable or disable the site search
search_enabled: true
# Aux links for the upper right navigation
aux_links:
    "Home":
      - "//juliaebert.com"
    "Github":
      - "//github.com/jtebert"
# Color scheme currently only supports "dark" or nil (default)
# color_scheme: "dark"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
