$jte-green: #38BC24;

$link-color: $jte-green;
// $body-heading-color: $jte-green;

$body-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Space+Mono&display=swap');
@import url('https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css');

.site-title {
    font-family: "Space Mono", monospace;
    color: $jte-green !important;
}

.main-content h2:not(.text-delta) {
    color: $jte-green;
    font-family: "Space Mono", monospace;
}

// Use this if you want to expand all the blocks in the left hand nav
// .navigation-list-item .navigation-list-child-list {
//     display: block !important;
// }

.date {
    line-height: 1.5em;
}
// Main image on pages
#header-img {
    display: block;
    margin-bottom: 2em;
}

// half-width images
.left {
    display: block;
    @media only screen and (min-width: 31.25rem) {
        float: left;
        width: 50%;
        margin-right: 1em;

    }
}

hr, h2 {
    clear: both;
}

// By default, blockquote is just indented with no styling
blockquote {
    @extend .text-grey-dk-000;
    border-left: 4px solid #e6e1e8;
    margin-left: 1em;
    padding-left: 1em;
    font-size: 0.95em;
    font-style: italic;
}

// Image modal/lightbox
.active-modal {
    border: 3px solid red;
}

.modal-overlay {
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: all 0.3s;
    &.active{
        visibility: visible;
        cursor: zoom-out;
        opacity: 1;
        .modal {
            .modal-content {
                transform: scale(1);
            }
        }
    }
    .modal {
        transition: all 0.3s;
        display: block;
        position: relative;
        width: 90%;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        .modal-content {
            display: block;
            position: relative;
            max-height: 90vh;
            margin: auto;
            transition: all 0.3s;
            transform: scale(0.7);
        }
    }
}

// Video
video {
    width: 100%;
    margin-bottom: 1em;
}