---
layout: default
---

{% comment %} <h1><i class="mdi {{page.icon}}"></i> {{ page.title }}</h1> {% endcomment %}
<h1>{{ page.title }}</h1>


<!-- <div id="inline_toc" markdown="1">
1. TOC
{:toc}
</div>

<hr> -->

{% if page.has_children %}
    {% comment %} I don't know how to directly make it do "if not page.has_children" {% endcomment %}
{% else %}
    <h6 class="text-zeta date text-grey-dk-000">
        {% if page.date %}
            <b>Posted:</b> {{ page.date | date: '%Y %B %-d' }}<br>
        {% endif %}
        <b>Last updated:</b> {{ page.last_modified_at | date: '%Y %B %-d' }}
    </h6>
    <hr>
{% endif %}

{% if page.image %}
    <img src="{{ page.image }}" alt="{{ page.image_alt }}" id="header-img">
{% endif %}

{{ content }}

<div class="wrapper" style="position: relative">
    <div id="modal-overlay">
        <div id="modal"><img id="modal-content"/></div>
    </div>
</div>